@charset "utf-8";

/* ---------------
acms.css
使用するテーマに関係なく必要なa-blog cmsのシステムに関わるスタイルの設定です。
このcssファイルを適用しない場合、表示に問題が発生しますのでご注意ください。
--------------- */

/* ---------------
■■目次
■float解除に関わる表示設定
■ログイン後の管理ボタン関連を設定
■各コンテンツ(画像、地図、動画など)の表示設定
■投稿フォーム関連表示設定
■管理ページ内の各要素の表示設定
--------------- */


/* ---------------
float解除に関わる表示設定
--------------- */

/* フロート解除 */
.clear {
	clear: both !important;
}
/*	フロート解除(不可視)(予備)	*/
.clearHidden {
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	margin: 0;
	border: none;
}
/* フロート解除(不可視) */
.clearfix:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: ".";
}
.clearfix {
	_display: inline-table;
	zoom: 1;
}



/* ---------------
ログイン後の管理ボタン関連を設定
--------------- */

/* ログイン後のadminボタン囲み */
#adminBox {
	min-height: 30px;
	margin: 0;
	padding: 10px;
	border: 1px solid #CCCCCC;
	background-color: #E9E9E9;
	_text-align: left;
}
/* 汎用ボタン囲み */
.btnBox {
	min-height: 30px;
	margin: 10px 0;
	padding: 10px;
}
.btnBox:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
/* 管理ボタンの並び調整 */
.adminBtn {
	float: left;
	margin: 0 5px 5px 0;
	vertical-align: bottom;
}
/* 管理ボタン部分のユーザー名 */
#loginUserStatus {
	clear: both;
	margin: 0;
	padding: 0 0 5px 0;
	line-height: 1;
}
/* 記事管理用ボタン */
.formEntryAction {
	clear: both;
	min-height: 30px;
	margin: 10px;
	padding: 10px 10px 5px 10px;
	_padding: 10px;
	border: 1px solid #AAAAAA;
	background-color: #CCCCCC;
}
/* ユニット追加ボタン */
.formEntryActionUnit {
	clear: both;
	min-height: 30px;
	margin: 10px;
	border: 1px solid #AAAAAA;
	background-color: #CCCCCC;
}

	.formEntryActionUnit .sorthandle {
		padding: 10px;
		cursor: move;
		_cursor: auto;
	}


/* テンプレート名表示 */
/* このスタイルはデバッグ用です。通常は非表示にしてあります。 */
/* 使用しているテンプレートファイルが管理ボタン枠内に表示されます。 */
#adminBox #rootTpl {
	display: none;/* この行を削除すると表示されます */
	clear: both;
	margin: 0;
	color: #333333;
}


/* ---------------
各コンテンツ(画像、地図、動画など)表示設定
--------------- */

/* 添付画像配置（おまかせ） */
div.column-image-auto {
}
/* 添付画像配置（左） */
div.column-image-left {
	float: left;
	margin-right: 10px;
	display: inline;
}
html[xmlns*=""] body:last-child .column-image-auto {display:block;}
/* 添付画像配置（右） */
div.column-image-right {
	float: right;
	margin-left: 10px;
	display: inline;
}
html[xmlns*=""] body:last-child .column-image-right {display:block;}
/* 添付画像配置（中央） */
div.column-image-center {
	margin-left: auto;
	margin-right: auto;
	_text-align: center;
}

/* ファイル配置（おまかせ） */
div.column-file-auto {
}
/* ファイル配置（左） */
div.column-file-left {
	float: left;
	margin-right: 10px;
	display: inline;
}
html[xmlns*=""] body:last-child .column-file-left {display:block;}
/* ファイル配置（右） */
div.column-file-right {
	float: right;
	margin-left: 10px;
	display: inline;
}
html[xmlns*=""] body:last-child .column-file-right {display:block;}
/* ファイル配置（中央） */
div.column-file-center {
	margin-left: auto;
	margin-right: auto;
	_text-align: center;
}

/* 地図配置（おまかせ） */
.column-map-auto {
	margin-bottom: 10px;
	/*macie¥*/
	overflow: hidden;/*macie*/
}
/* 地図配置（左） */
.column-map-left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	/*macie¥*/
	overflow: hidden;/*macie*/
}
/* 地図配置（右） */
.column-map-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	/*macie¥*/
	overflow: hidden;/*macie*/
}
/* 地図配置（中央） */
.column-map-center {
	display:block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	/*macie¥*/
	overflow: hidden;/*macie*/
}

/* yahoo地図配置（おまかせ） */
.column-yolp-auto {
	margin-bottom: 10px;
	/*macie¥*/
	overflow: hidden;/*macie*/
}
/* yahoo地図配置（左） */
.column-yolp-left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	/*macie¥*/
	overflow: hidden;/*macie*/
}
/* yahoo地図配置（右） */
.column-yolp-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	/*macie¥*/
	overflow: hidden;/*macie*/
}
/* yahoo地図配置（中央） */
.column-yolp-center {
	display:block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	/*macie¥*/
	overflow: hidden;/*macie*/
}

/* YouTube配置 (おまかせ) */
.column-youtube-auto {
}
/* YouTube配置 (左) */
.column-youtube-left {
	float: left;
	margin-right: 10px;
	display: inline;
}
html[xmlns*=""] body:last-child .column-youtube-left {display:block;}
/* YouTube配置 (右) */
.column-youtube-right {
	float: right;
	margin-left: 10px;
	display: inline;
}
html[xmlns*=""] body:last-child .column-youtube-right {display:block;}
/* YouTube配置 (中央) */
.column-youtube-center {
	margin-left: auto;
	margin-right:auto;
}

/* 画像URL配置（おまかせ） */
div.column-eximage-auto {
}
/* 画像URL配置（左） */
div.column-eximage-left {
	float: left;
	margin-right: 10px;
	display: inline;
}
html[xmlns*=""] body:last-child .column-eximage-auto {display:block;}
/* 画像URL配置（右） */
div.column-eximage-right {
	float: right;
	margin-left: 10px;
	display: inline;
}
html[xmlns*=""] body:last-child .column-eximage-right {display:block;}
/* 画像URL配置（中央） */
div.column-eximage-center {
	margin-left: auto;
	margin-right:auto;
	_text-align: center;
}

/* 検索結果のハイライト
---------------*/
.highlight1 {
	color: black;
	background: #ffff66;
}
.highlight2 {
	color: black;
	background: #a0ffff;
}
.highlight3 {
	color: black;
	background: #99ff99;
}
.highlight4 {
	color: black;
	background: #ff9999;
}
.highlight5 {
	color: black;
	background: #ff66ff;
}
.highlight6 {
	color: black;
	background: #880000;
}

/* ---------------
投稿フォーム関連表示設定
--------------- */

/* 投稿フォーム */
form#entryForm {
	width: 100% !important;
	background: #F7F7F7 !important;
}
/* 投稿フォーム内容の囲み */
.entryFormWrapper {
	padding: 10px 10px 0 10px !important;
	_padding: 0 !important;
	border-top: solid 4px #EFEFEF !important;
	background: #F7F7F7 !important;
}

/* 投稿フォーム用基本テーブル */
table.entryFormTable {
	width: 100%;
	margin: 0;
	border: none !important;
	border-collapse: collapse !important;
}
table.entryFormTable th {
	width: 10em !important;
	text-align: right !important;
	white-space: nowrap;
}
table.entryFormTable th,
table.entryFormTable td {
	padding: 7px !important;
	border: none !important;
	background-color: #F7F7F7 !important;
}
table.entryFormTable th.thY {
	width: 30%;
}

/* 投稿フォーム用基本テーブル（詳細部分） */
table.entryFormTable tr.detail-fade th,
table.entryFormTable tr.detail-fade td,
table.entryFormTable tr.detail-fade-body th,
table.entryFormTable tr.detail-fade-body td {
	background-color: #E3E3E3 !important;
}

table.entryFormTable tr.detail-fade td {
	padding: 0 !important;
}
table.entryFormTable tr.detail-fade td a.detail-fade-head {
	outline: 0;
	width: 100%;
	display: block;
	padding: 7px 0;
	text-align: center;
}

/* 投稿フォーム用基本テーブル（カラムごとの各設定） */
table.entryFormColumnSettingTable {
	width: 100% !important;
	border: none !important;
}
table.entryFormColumnSettingTable th {
	width: 8em !important;
	background-color: transparent !important;
	text-align: right !important;
}
table.entryFormColumnSettingTable th, 
table.entryFormColumnSettingTable td {
	border: none !important;
}

/* フォームアイテムのサイズ調整 */
/* テキスト入力 */
input.entryFormInputText {
}
input.entryInputTitle {
	width: 80%;
	font-size: 110%;
}
table.entryFormColumnTable {
	width: 100% !important;
	border: none !important;
	margin: 0 0 0 0 !important;
}
table.entryFormColumnTable th,
table.entryFormColumnTable td {
	border: none !important;
}
td.entryFormFileControl {
	line-height: 2em !important;
	vertical-align: top !important;
}
table.entryFormColumnTable img {
	margin: 0 0 10px 0 !important;
	padding: 5px !important;
	background: #FFFFFF !important;
}

/* 投稿フォーム画像詳細 */
table.entryFormImageTable {
	width: 100% !important;
	margin: 5px 0 0 0 !important;
	border: none !important;
	background-color: #F7F7F7 !important;
	border-collapse: collapse !important;
}
table.entryFormImageTable th {
	width: 10em !important;
	background-color: #F7F7F7 !important;
	text-align: right !important;
}

/* 編集中の記事フォーム */
.entryFormColumn {
	padding: 0 0 10px 0;
	position: relative;
}
.entryFormColumnItem {
	padding: 10px !important;
	padding-bottom: 0px !important;
	margin-bottom:0px !important;
	zoom: 1;
}
.entryFormColumnItem-toberemoved {
	display: none;
}
.entry tr {
	border: none !important;
}

/* 投稿配置指定 */
.entryFormColumn .entryFormColumnHead {
	margin: 0 !important;
	padding: 10px !important;
	position: relative !important;
	background: #A7A7AA;
	color: #FFFFFF;
}
/* 非表示ユニット */
.entryFormColumn .entryFormColumnItem-hidden .entryFormColumnHead,
.entryFormColumn .entryFormColumnItem-hidden .entryFormColumnBody {
	color: #333 !important;
	background: #ddd !important;
	-webkit-transition: opacity 0.2s linear, background 0.2s linear;
	transition: opacity 0.2s linear, background 0.2s linear;
}
.entryFormColumn .entryFormColumnItem-hidden .entryFormColumnHead [name="align[]"] {
	border: 1px solid red;
}
#js-edit_inplace-box .entryFormColumn .entryFormColumnItem-hidden .entryFormColumnBody {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

.entryFormColumn .entryFormColumnItem-hidden .entryFormColumnBody {
	opacity: 0.66;
	-moz-opacity: 0.66;
	filter: alpha(opacity=66);
}
/*　記事概要部分のカラム　*/
.entryFormColumn .entryFormColumnItem-summary .entryFormColumnHead {
	background-color: #7E7E84;
}
.entryFormColumn .entryFormColumnItem-summary .entryFormColumnBody {
	background-color: #D0D0D0;
}
.entryFormColumnBody {
	margin: 0 !important;
	padding: 10px !important;
	text-align: left !important;
	background-color: #D0D0D0;
}
.entryFormColumnBody textarea{
	line-height: 1.7;
}
.entryFormColumnBody.outOfSummaryRange {
	background-color: #EBEBEB;
}
.entryFormColumnBody dl dd {
	padding-bottom: 8px !important;
}
.entryFormColumn .entryFormColumnBody .entryFormColumnTable tr .entryFormFileentryFormImages {
	width: 100px !important;
	vertical-align: top !important;
}

/* カテゴリー追加 */
.categoryAdderBtn {
	display: inline;
}
.categoryAdder {
	z-index: 1;
	display: none;
	position: absolute;
	padding: 10px;
	background: #D0D0D0;
}
.categoryAdder table {
	_width: 50%;
	background: #F7F7F7;
}
.categoryAdder .textbox {
	width: 80px;
}

/* カテゴリー追加のmodal dialog */
#categoryAddForm {
	font-size: 13px;
}

/* タグ候補 */
ul#tag-assist {
	margin	  : 10px;
	padding	 : 0px;
	text-align  : left;
}
	ul#tag-assist li {
		margin  : 3px;
		display : inline-block;
		white-space : nowrap;
		/display: inline;
		/zoom   : 1;
	}

/* 詳細設定のトグルリンク */
a#dateExpander:hover {
	background-color: #d0d0d0 !important;
	text-decoration: none !important;
	border-bottom: none !important;
}

/* カラム(v1.1からカラム→ユニットと改名) */
.entryFormColumn .entryFormColumnHead .entryFormColumnHeadLayoutBox {
	position: relative;
	position: absolute;
	top: 6px;
	left: 10px;
	width: auto;
}

.entryFormColumn .entryFormColumnHead .sorthandle {
	width: 100%;
	height: 38px;
	_height: 33px;
	padding: 0;
	_padding-right: 20px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
	_cursor: auto;
}
.entryFormColumn .entryFormColumnHead .label {
	position: relative;
	right: 45px;;
	float: right;
	text-align: right;
}
.entryFormColumn .entryFormColumnHead .togglebody {
	width: 14px;
	height: 14px;
	position: absolute;
	top: 10px;
	right: 30px;
	cursor: pointer;
	text-align: center;
}
/* closethis = editinplace unit, removethis = normal unit */
.entryFormColumn .entryFormColumnHead .closethis,
.entryFormColumn .entryFormColumnHead .removethis {
	width: 14px;
	height: 14px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	text-align: center;
}

/* カラムをドラッグした時のスタイル */
.entryFormColumn .ui-sortable-helper {
	padding: 10px;
	padding-bottom: 0px;
	margin-bottom:0px;
	_margin: 0 !important;
	_padding: 0 !important;
	width: 97.25%;
	position: absolute;
	left: 0 !important;
}
#more.ui-sortable-helper {
	_margin: 0 !important;
	_padding: 5px 0 !important;
	width: 97%;
}

/* 投稿フォーム内の「以下のカラムが一覧表示時に「続きを読む」になります」部分 */
.entryFormColumn #more {
	margin: 10px 10px 0 10px;
	padding: 5px 0;
	position: relative;
	border: 1px solid #7F7F84;
	background: #ffffff;
	cursor: move;
	_cursor: auto;
	text-align: center;
	display: none;
}
.entryFormColumn #more .sorthandle {
	width: 100%;
	height: 100%;
}

/* 地図 */
.formColumnMap {
	width: 100%;
}
.formColumnMapTd {
	_width: 200px;
	min-width: 200px;
}
*+html .formColumnMapTd {
	width: 200px;
}
.map_msg_id{
	width: 100%;
	_width: 90%;
}
*+html .map_msg_id{
	width:90%;
}

/* フォーム投稿ボタン囲み */
.comPost {
	background: #B0B0B0;
	padding: 10px;
	text-align: center;
}
/* キャンセルボタン */
input.cancelBtn {
	font-size: 130%;
}
/* サブミット(承認)ボタン */
input.submitBtn {
	width: 8em;
	font-size: 130%;
}

/* 入力欄の横幅設定 */
.formSizeS {
	width: 150px;
}
.formSizeM {
	width: 240px;
}
.formSizeL {
	width: 320px;
}

/* 投稿フォームの表示調整 */
/* フォームの内容に問題がある場合のコメントの表示 */
/* 通常は非表示 */
p.transaction-notice-,
label.validator-result-,
label.validator-result-1,
label.v-result-,
label.v-result-1 {
	display: none;
}
/* 問題発生時には表示 */
p.transaction-notice-error,
label.validator-result-error,
label.validator-result-0,
label.v-result-error,
label.v-result-0 {
	display: block;
	color: #FF0000;
}

/* 変更時メッセージ */
.noticeMsg {
	text-align: center;
	font-size: 14px;
	border: 3px double #ffffff;
	background-color: rgb(224, 224, 224);
	margin-bottom: 20px;
}

/* ベンチマーク用スタイル */
.acmsBenchmarkTable {
	margin: 5px;
	border-collapse: collapse;
	background-color: white;
	text-align: left;
}

.acmsBenchmarkTable th,
.acmsBenchmarkTable td {
	border: 1px solid gray;
	padding: 5px 10px;
}

/* ダイレクト編集 */
.js-edit_inplace {
}

/* 範囲選択（没） */
#js-edit_inplace-sort_selection {
	position: absolute;
	z-index: 1024;
	border: 1px solid blue;
	background-color: rgba(0,0,255, 0.01);
}
.js-edit_inplace-sort_selecting {
	box-shadow: 0 0 5px #adff2f;
}
.js-edit_inplace-sort_selectAll {
	background-color: #eee;
	box-shadow: 0 0 5px #adff2f;
	cursor: pointer;
}
.js-edit_inplace-sort_selectAll .js-edit_inplace-sort_selecting {
	box-shadow: none;
}
/* エントリーの詳細情報編集ボックス */
#js-edit_inplace-detail {
	width: 700px;
	border: 3px solid #aaa;
	background-color: #f2f2f2;
}
/* ダイレクト編集ボックス */
#js-edit_inplace-box {
	width: 640px;
	font-size: 12px;
	text-align: center;
	padding-bottom: 15px;
	position: relative;
}
	#js-edit_inplace-box .entryFormColumnBody textarea {
		margin-bottom: 10px;
	}
	#js-edit_inplace-box .entryFormColumnBody textarea.map_msg_id {
		margin-bottom: 0;
	}
	#js-edit_inplace-box .entryFormColumnBody,
	#js-edit_inplace-box .entryFormColumnHead {
		margin-bottom: 10px;

		border: 1px solid #999999;

		-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
		-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
		box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	}
#js-edit_inplace-box .entryFormColumnHead {
	border-bottom: none;
}
#js-edit_inplace-box .entryFormColumnBody {
	border-top: none;
}
#js-edit_inplace-submit {
	position: absolute;
	width: 100px;
	right: 20px;
	bottom: 32px;
}
/* ホバー時オーバーレイ */
.js-edit_inplace-hovering {
	background-color: rgb(0,255,0);
	opacity: 0.1;
	-moz-opacity: 0.1;
	filter: alpha(opacity=10);
	cursor: pointer;
}
/* ロード中オーバーレイ */
.js-edit_inplace-loading {
	background-color: rgb(255,255,255);
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter: alpha(opacity=60);
}
	.js-edit_inplace-loading img {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -17px;
		margin-left: -18px;
	}

/* 保存中の表示 */
#js-entry_saving_progress {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 65536;
	filter: alpha(opacity=66);
	background-color: rgb(255,255,255);
	background: rgba(255,255,255,0.66);
}
	#js-entry_saving_progress img {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -17px;
		margin-left: -18px;
	}
	#js-entry_saving_progress span {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: 20px;
		margin-left: -65px;
		font-size: 16px;
		font-weight: bold;
		color: #111;
	}

/* カテゴリーセレクトボックスのwidthの制限*/
select.categoryWidth {
	max-width: 250px;
	width: auto !important;
	width: 250px;
}
/* ファイルサイズ表示 */
.fileSize {
	padding-left: 10px;
	font-weight: bold;
}
/* タイトル編集 */
#js-edit_inplace-title {
    display: none;
    position: relative;
    z-index: 4096;
    width: 640px;
    height: 60px;
    font-size: 12px;
}
#js-edit_inplace-title .inputTitle {
    width: 98%;
    padding: 0.2em 0.3em;
    font-size: 110%;
    margin-bottom: 0.5em;
}
#js-edit_inplace-title p {
    text-align: right;
}

#js-edit_inplace-title .closethis {
	width: 14px;
	height: 14px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	text-align: center;
}
#js-edit_inplace-title .entryFormColumnBody,
#js-edit_inplace-title .entryFormColumnHead {
    margin-bottom: 10px;

    border: 1px solid #999999;

    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
.js-edit_inplace-title_trigger {
    cursor: pointer;
}
.js-edit_inplace-title_trigger:hover {
    background-color: rgba(0,255,0, 0.1);
}

/* 全幅通知 */
.js-notify {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	text-shadow: -1px -1px 0 #000;
	background: rgb(0,0,0);
    background: rgba(0,0,0,0.66);
}

/*=========================================================================*/


/* Experiment Kernel Panic
   config/edit ↑↑↓↓←→←→BA */
#js-kernel_panic {
	position: fixed;
	width: 100%;
	height: 0;
	z-index: 5128;
	background: rgba(0, 0, 0, 0.6);
}
	#js-kernel_panic-message {
		position: absolute;
		width: 480px;
		height: 300px;
		top: 50%;
		left: 50%;
		margin-top: -230px;
		margin-left: -320px;
		padding: 30px 80px;
		font-size: 15px;
		z-index: 5130;
		display: none;
		color: #fff;
		background: rgba(0, 0, 0, 0.6);
	}
	#js-kernel_panic-message h1 {
		font-size: 21px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	#js-kernel_panic-message a {
		margin-top: 20px;
		float: right;
		color: #87ceeb;
		text-decoration: underline;
		cursor: pointer;
	}

/* Experiment ダイレクト編集コントローラ */
#js-edit_inplace-control {
	text-shadow: 1px 1px 1px white;
	font-weight: bold;
	font-size: 18px !important;
	width: 120px;
	padding-left: 7px;
	text-align: left;
}
	#js-edit_inplace-control button {
		width: 30px;
		height: 20px;
        border: 1px solid #333;
		border-radius: 3px;
		background-color: #eee;
		cursor: pointer;
	}
	#js-edit_inplace-control button:hover {
		background-color: #fff;
	}
/* ユニット追加選択肢 */
#js-edit_inplace-holder {
	clear: both;
	width: 100%;
	background-color: rgba(173,255,47,0.2);
	margin: 10px 0;
}

#js-edit_inplace-detail {
	z-index: 3072;
}

#js-edit_inplace-units {
	padding: 8px;
	font-size: 18px !important;
	text-align: center;
}
	#js-edit_inplace-units button {
		margin: 3px;
		height: 25px;
		border: 1px solid #333;
		border-radius: 3px;
		background-color: #fafafa;
		line-height: 1.8;
		cursor: pointer;
	}
	#js-edit_inplace-units button:hover {
		background-color: #fff;
	}
	#js-edit_inplace-units button.cansel {
		color: #fff;
		background-color: #777;
	}
	#js-edit_inplace-units button.cansel:hover {
		background-color: #555;
	}

/* ソート機能 */
.js-edit_inplace-sort_enable {
	clear: both;
	overflow: hidden;
	border: 3px solid #eee;
	margin: 10px 0;
	padding: 10px 5px;
	box-sizing: border-box;
	cursor: pointer;
}
.js-edit_inplace-sort_enable:hover {
	background: #eee;
	border: 3px solid #adff2f;
	box-sizing: border-box;
}
.js-edit_inplace-sort_enable_column {
	padding: 5px 0;
	box-sizing: border-box;
	cursor: pointer;
}
.js-edit_inplace-sort_enable_column:hover {
	background: #ffdab9;
}
	.js-edit_inplace-sort_enable_column .js-edit_inplace-sort_enable {
		border: none;
	}
	.js-edit_inplace-sort_enable_column .js-edit_inplace-sort_enable:hover {
		border: none;
		background: none;
	}
.js-edit_inplace-sort_placeholder {
	position: relative;
	background-color: pink;
	box-sizing: border-box;
	min-height: 80px;
	margin: 10px 0;
}
.js-edit_inplace-sort_placeholder:after {
	content: "ここにユニットを移動";
	position: absolute;
	font-size: 16px;
	font-weight: bold;
	top: 40%;
	left: 50%;
	margin-left: -80px;
}
.js-edit_inplace.align_hidden {
	opacity: 0.5 !important;
   	-moz-opacity: 0.5 !important;
   	filter: alpha(opacity=50) !important;
}
.js-edit_inplace-sort_label {
	position: relative;
	display: block;
	width: 100px;
	float: right;
	margin-bottom: -100px;
	line-height: 2;
	text-align: center;
	color: #fff;
	background-color: #333;
	content: "非表示";
}
.js-edit_inplace.align_hidden::before {
	position: relative;
	display: block;
	width: 50px;
	float: right;
	margin-bottom: -100px;
	line-height: 2;
	text-align: center;
	color: #fff;
	background-color: #333;
	content: "非表示";
}

/* 画面下部コントロール */
#js-edit_inplace-below_control {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10240;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	text-align: right;
	color: #ff4500;
	background-color: #fafafa;
	background: rgb(250,250,250);
	background: rgba(250,250,250,0.66);
	box-sizing: border-box;
	border-top: 1px solid #ddd;
}
	#js-edit_inplace-below_control span {
		padding: 7px 20px;
	}
	#js-edit_inplace-show_detail,
	#js-edit_inplace-sort_enable,
	#js-edit_inplace-mode_abort {
		margin: 0;
		padding: 7px 10px;
		border: none;
		border-left: 1px solid #333;
		text-shadow: -1px -1px 0 #000;
		color: #fff;
		background: rgb(0,0,0);
		background: rgba(0,0,0,0.66);
		font-size: 12px;
		cursor: pointer;
	}
	#js-edit_inplace-show_detail:hover,
	#js-edit_inplace-sort_enable:hover,
	#js-edit_inplace-mode_abort:hover {
		background-color: rgba(0,0,0,0.50);
	}
#js-edit_inplace-show_detail:active,
#js-edit_inplace-sort_enable:active,
#js-edit_inplace-mode_abort:active {
	text-shadow: -2px -2px 1px #000;
}

/* モジュール設定リンク */
.administrator .moduleEditLink{
	display: none !important;
	_display: inline !important;
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	background-color: #000;
	opacity: 0.7;
	z-index: 2147483647 !important;
}
.administrator .moduleEditLink a{
	color: #fff;
}
.administrator{
	position: relative;
}
.administrator:hover .moduleEditLink{
	display: inline !important;
}